<!--The content below is only a placeholder and can be replaced.
<div *ngIf="loginName">
<h2 [className]="titleClassName"> {{ title }} </h2>
  </div>
<div style="text-align:right">
  <button (click)="onLogout()"> {{ loggedIn?"Logout":"Login" }} </button>
  <div *ngIf="loggedIn">
    Welcome Guest
    <input type="text" value="Feedback"/>
  </div>
</div>
-->
<mat-toolbar color="accent">
     <mat-toolbar-row>
        <span class="title">{{ title }}</span>
        <span class="example-spacer"></span>
        <button mat-flat-button color="primary" (click)="onLogout()">{{ loggedIn?"Logout":"Login" }}</button>
      </mat-toolbar-row>

    <mat-toolbar-row>
        <span class="example-spacer"></span>
      <span *ngIf="loggedIn" class="example-spacer"></span>
      <span>Welcome Guest</span>
    </mat-toolbar-row>
  </mat-toolbar>
