<!--The content below is only a placeholder and can be replaced.-->
<div style = "text-align: center">
  <form>
    <input type="text" #name> <br /><br />
    <input type="text" #place> <br /><br />
    <input type="text" #phone> <br /><br />
    <br /><br />
   <button (click)="onSubmit(name.value, place.value, phone.value)"> Submit </button>&nbsp;&nbsp;&nbsp;
    <button (click)="onClear()"> Clear </button>
  </form>
  <pre>{{dataEnterred}}</pre>

  <div *ngIf="userArray.length">
    Names are below
    <table border='1'>
      <tr><td>Name</td><td>Place</td></tr>
      <tr *ngFor="let user of userArray"><td>{{ user.name }}</td><td>{{ user.place }}</td></tr>
    </table>
  </div>

  </div>
