<!--The content below is only a placeholder and can be replaced.-->


    <a href="#" #home routerLink="/home">Home</a> <br/><br/>

    <div *ngIf = "loginName == 'admin'">
    <a href="#" #users routerLink="/users">Users</a> <br/><br/>
    <a href="#" #addOrg routerLink="/addOrg">Add Organization of TV Asia</a> <br/><br/>

    <a href="#" #addOrg routerLink="/listOrg">Organizations List</a> <br/><br/>

    <a href="#" #addOrg routerLink="/githubList">Github Repository Data</a> <br/><br/>
    </div>

    <input type="text" [(ngModel)]="textClicked" >

  {{textClicked}} <br/><br/>
  <div *ngIf="loggedIn">
  <div *ngIf="favouritesList.length">
  <h2>Favourites</h2>
      <table border='1'>
    <tr><td>Name</td><td>Place</td><td>Phone Number</td></tr>
    <tr *ngFor="let user of favouritesList"><td>{{ user.name }}</td><td>{{ user.place }}</td><td>{{user.phone}}</td>
    </tr>
  </table>
  </div>
</div>


